<header>
    <nav>
        <h3>Group 27 Movie Library</h3>

        <ul id="nav-links">
            <li><a href='/'>Index</a></li>
            <li><a href='/account'>Account</a></li>
            <li><a href='/login'>Login</a></li>
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/movies'>Movies</a></li>
            <li><a href='/shows'>Shows</a></li>
            <li><a href='/movies/add'>Add new Movie</a></li>
            <li><a href='/shows/add'>Add new Show</a></li>
            <li><a href='/actors'>Actors</a></li>
            <li><a href='/genres'>Genres</a></li>
        </ul>
    </nav>
</header>