<!doctype html>
<html lang="en" data-bs-theme="dark">
<style>
    body{
        background-image: url("https://i.postimg.cc/3r2nX3bN/black-prism-concept-ai-generated.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
    <head>
        <meta charset="UTF-8">

        <title><%= title %></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link rel="icon" type="image/x-icon" href="/img/logo.png">

        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <%- include('../partials/header.ejs') %>

        <main class="container-fluid">
            <%- body %>
        </main> 

        <%- include('../partials/footer.ejs') %>

    </body> 

</html>
